<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>AirTab</title>
</head>

<body>
    <div id="container">Loading...</div>
</body>

<link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
<script src="/node_modules/material-design-lite/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/underscore/underscore-min.js"></script>
<script src="/node_modules/backbone/backbone-min.js"></script>
<script src="/js/airtab.js"></script>

</html>
